/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500&family=Quicksand:wght@400;500&display=swap');

/* Fonts Definition */

.f-inter-400 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.f-inter-500 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.f-inter-700 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.f-poppins-400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.f-poppins-500 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.f-quicksand-400 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.f-quicksand-500 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}