
/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 350px) {
    
    /* navbar */
    .navbar .image-tret-us{
        width: 48px;
        height: 50px;
    }
    /* end navbar */
    
    /* hero */
    .hero{
        margin-top: -8.3rem;
        height: 964px;
    }
    .content h1{
        width: 96%;
        margin-left: 0rem;
        font-size: 30px;
        text-align: center;
    }
    .content .button{
        margin-left: 0rem;
        font-size: 19px;
        margin-top: -12px;
    }
    .hero .image-rounded{
        width: 153px;
        margin-left: -5rem;
    }
    .hero .image-rounded img{
        margin-top: 23.7rem;
        height: 115px;
        width: 115px !important;
        margin-left: 4.2rem;
    }
    .hero .image-rounded-1 img{
        margin-left: -19rem;
        margin-top: 0.9rem;
        height: 107px;
        width: 92% !important;
    }
    .hero .segitiga{
        border-left: 332px solid transparent;
        border-bottom: 239px solid rgba(144, 229, 243, 0.35);
        border-top: 0px solid transparent;
        border-right: 0px solid transparent;
        margin-left: 1rem;
        position: absolute;
        top: 19rem;
    }
    .hero .flat-animasion{
        width: 390px;
        margin-top: -6rem;
        margin-left: -4.5rem;
    }
    /* end hero */

    /* about us */
    .about-us{
        margin-top: -282px;
    }
    .input-group h5{
        margin-top: -2rem;
        width: 377px;
        margin-left: -3.5rem;
        font-size: 14px;
        margin-bottom: 1rem;
        text-align: center;
    }
    /* end about us */

    /* we over */
    .we-ofer .input-group .m-auto h2{
        font-size: 26px;
        width: 64%;
    }
    .we-ofer .margin-auto img{
        margin-left: 0.5rem;
    }
    .we-ofer .information h4{
        font-size: 16px;
    }
    /* end we ofer */

    /* portofolio */
    .portofolio{
        margin-top: 92px;
    }
    .portofolio .title h2{
        font-size: 26px;
    }
    .view-project{
        margin-top: 50px;
    }
    .view-project .project{
        width: 100%;
        height: 335px;
    }
    /* end portofolio */

    /* step work */
    .step-work .m-auto h2{
        font-size: 26px;
    }
    .all-step-work{
        margin-left: 0rem;
    }
    .analayze p{
        width: 100%;
    }
    /* end step work */

    /* technology */
    .technologies{
        margin-top: 132px;
    }
    .technologies .title-technologies h2{
        font-size: 26px;
    }
    /* end technologies */

    /* testimoni */
    .testimoni{
        margin-top: 92px;
    }
    .testimoni h2{
        font-size: 24px;
    }
    .testimoni #carouselExampleCaptions{
        margin-top: 36px;
    }
    .carousel-caption{
        position: inherit;
        margin-right: 0rem;
        left: 0rem;
    }
    .testimoni .carousel-item .carousel-caption p,
    .testimoni .carousel-item .carousel-caption h6{
        color: rgba(4,4,4,0.4);
    }
    #carouselExampleCaptions .carousel-indicators li{
        background-color: black;
    }
    /* end testimoni */
    
}

@media only screen and (max-width: 550px){
    .margin-auto{
        margin: auto !important;
    }

    /* we ofer */
    .we-ofer .information{
        text-align: center;
    }
    /* end we ofer */

    /* step work */
    .analayze{
        margin-left: 0rem;
    }
    /* end step work */
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    /* hero */
    .hero{
        margin-top: -7rem;
        height: 800px;
    }
    /* end hero */

    /* about us */
    .about-us{
        margin-top: 85px;
    }
    /* end about us */

    /* step work */   
    .analayze{
        margin-left: 3.3rem;
    }
    /* end step work */

    /* technologies */
    .technologies{
        margin-top: 191px;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }