
/*Small devices (landscape phones, 576px and up)*/
@media only screen and (min-width: 320px) {

    /*navbar*/
    .navbar .image-tret-us{
    	/*width: 29%;*/
    	width: 100%;
    	height: 50px;
    }
    /*end navbar*/

    /*hero*/
    .hero{
        margin-top: -8.3rem;
    }
    .content h1{
    	width: 96%;
    	text-align: center;
    	font-size: 1.7em;
    }
    .content .button{
    	margin-left: 0rem;
		font-size: 1em;
		margin-top: -12px;
    }
    .hero .image-rounded{
    	width: 153px;
    	margin-left: -5rem;
    }
    .hero .image-rounded img{
    	margin-top: 23.7rem;
		height: 115px;
		width: 115px !important;
		margin-left: 4.2rem;
    }
    .hero .ms-auto img{
    	margin-top: 23.5rem;
    }
    .hero .segitiga{
    	border-left: 332px solid transparent;
		border-bottom: 256px solid rgba(144, 229, 243, 0.35);
		border-top: 0px solid transparent;
		margin-left: 1rem;
		top: 18rem;
		border-right: 100px;
    }
    .hero .flat-animasion{
    	width: 100%;
    	margin-top: -4rem;
    }
    /*end hero*/

    /*about us*/
    .about-us{
    	margin-top: -100px;
    }
    .input-group h5{
    	margin-top: -2rem;
		width: 377px;
		margin-left: -3.5rem;
		font-size: 14px;
		margin-bottom: 1rem;
    }
    /*end about us*/

    /*we over*/
    .we-ofer .input-group .m-auto h2{
    	font-size: 26px;
    	width: 64%;
    }
    .we-ofer .margin-auto img {
	    margin-left: 0.5rem;
	}
	.we-ofer .information h4 {
	    font-size: 16px;
	}

	/*portofolio*/
	.portofolio .title h2 {
	    font-size: 26px;
	}
	.view-project {
	    margin-top: 50px;
	}
	.view-project .project {
	    width: 100%;
	    height: 335px;
	}
	/*end portofolio*/

	/*step work*/
	.step-work .m-auto h2 {
	    font-size: 26px;
	}
	.all-step-work {
	    margin-left: 0rem;
	}
	.analayze p {
	    width: 100%;
	}
	/*end step work*/

	/*technology*/
	.technologies .title-technologies h2 {
	    font-size: 26px;
	}
	/*end technologi*/

	/*testimoni*/
	.testimoni h2 {
	    font-size: 24px;
	}
	.testimoni #carouselExampleCaptions {
	    margin-top: 36px;
	}
	.carousel-caption {
	    position: revert;
	}
	.testimoni .carousel-item .carousel-caption p, 
	.testimoni .carousel-item .carousel-caption h6 {
	    color: rgba(4,4,4, 0.4);
	}
	#carouselExampleCaptions .carousel-indicators li {
	    background-color: black;
	}
	/*end testimoni*/

    /*portofolio*/
    .portofolio{
	    margin-top: 92px;
	}
	/*end portofolio*/
}

@media only screen (min-width: 468px) and (max-width: 575px){

}

@media only screen and (max-width: 540px){

	/*about us*/
	.input-group h5, .we-ofer .information{
		text-align: center;
	}
}

@media only screen (min-width: 540px) and (max-width: 575px){

	/*hero*/
	.content{
		width: 98%;
	}
	.content h1{
		width: 100%;
	}
	.hero .flat-animasion{
		margin-top: -13rem;
	}
	/*end hero*/
}

@media only screen and (min-width: 576px){
	.hero .image-rounded-1{
		margin-left: -16%;
		margin-top: -22%;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 640px){
	
	/*navbar*/
	.navbar .image-tret-us{
		width: 37%;
		height: auto;
	}
	/*end navbar*/

	/*hero*/
	/*.hero .button{
		margin-left: 3rem;
	}*/
	.hero .flat-animasion{
		margin-top: -6rem;
	}
	.content h1{
		width: 100%;
		font-size: 1.9em;
	}
	.content .button{
		margin-left: 0 auto;
	}
}

@media only screen and (min-width: 740px) {

	/*hero*/
	.hero .ms-auto img{
		margin-top: 20.5rem;
	}
	.hero .flat-animasion{
		margin-top: -8rem;
	}
	/*end hero*/
	/*.content h1{
		font-size: 36px;
	}*/
}

@media only screen and (min-width: 768px){
	
	.hero .image-rounded-1{
		margin-left: 1%;
		margin-top: -20%;
	}
	.hero .flat-animasion{
		margin-top: -1rem;
	}
	.hero .ms-auto img{
		margin-top: 20.5rem;
		margin-left: -32%;
	}
}


/* Large devices (desktops, 992px and up)*/
@media only screen and (max-width: 992px) {
	.margin-auto{
		margin:auto !important;
	}
}
@media only screen and (min-width: 992px) {
	
	/*navbar*/
	.navbar .image-tret-us{
		width: 50%;
	}

	/*hero*/
	.content h1{
		font-size: 2.6em;
	}
	.hero .flat-animasion{
		width: 37rem;
		margin-left: -9rem;
	}
}

/* X-Large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) { 
	
	/* navbar */
    .navbar .image-tret-us{
        width: 56%;
        height: auto;
    }
    /* end navbar */

	/*hero*/
	.hero{
		margin-top: -7rem;
		height: 800px;
	}
	.content h1{
    	font-size: 55px;
    	width: 100%;
    }
    .hero .image-rounded{
    	width: 253px;
    }
    .hero .image-rounded img{
        margin-top: 11.7rem;
        margin-left: 8.2rem;
        height: auto;
        width: 100% !important;
    }
    .hero .image-rounded-1 img{
        margin-left: -38rem;
        margin-top: 3.3rem;
        height: auto;
        width: 100% !important;
    }
    .hero .flat-animasion{
        width: 669px;
        margin-top: -2rem;
        margin-left: -4.9rem;
    }
    .hero .button{
        margin-left: 2rem;
    }
    .hero .segitiga{
        border-bottom: 748px solid rgba(144, 229, 243, 0.35);
        top: 0.1rem;
        margin-left: 16rem;
        border-left: 58.3rem solid transparent;
    }
    /*end hero*/

    /*about us*/
    .about-us{
    	margin-top: 85px;
    }
    .input-group h5{
    	font-size: 16px;
    	margin-top: 0rem;
    	text-align: inherit;
    	width: 638px;
    	margin-left: 0rem;
    }
    /*end about us*/

    /* technologies */
    .technologies{
        margin-top: 191px;
    }
    /* end tecnology */

    /* service */
    .we-ofer .margin-auto img{
    	margin-left: 0rem;
    }
    .information{
    	margin-left: 1rem;
    }
    .we-ofer .input-group .m-auto h2{
    	width: 28%;
    	font-size: 36px;
    }
    /* end service */

    /* portofolio */
    .portofolio .title h2{
        font-size: 36px;
    }
    .view-project .project{
        width: 432.35px;
        height: 377px;
    }
    /* end portofolio */

	/* step work */
    .step-work .m-auto h2{
        font-size: 36px;
    }
    .all-step-work{
        margin-left: 10rem;
    }
    .analayze p{
        width: 100%;
    }
    /* end step work */

	/* tecnologi */
    .technologies .title-technologies h2{
        font-size: 32px;
    }
    /* end technologi */

	.testimoni h2{
		font-size: 36px;
	}
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }