html, body{
    scroll: smooth;
}

body, h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar-nav .nav-item{
    margin-left: 2rem;
}
.navbar-nav .nav-item a{
    font-size: 21px;
    letter-spacing: 0.04em;
}
.navbar-nav .nav-item .active:hover{
    border-bottom: 3px solid;
}
/* end navbar */

/* hero */
.hero{
    width: 100%;
    left: 0px;
    top: -27.5px
    border-radius: 0px;
    background: linear-gradient(180deg, #EDFAFE 53.04%, rgba(237, 250, 254, 0) 100%);
}
.content{
    position: absolute;
    margin-top: 14rem;
}
.content h1{
    font-family: 'Quicksand', sans-serif;
}
.content .button{
    background: #6577B9;
    padding-right: 28px;
    padding-left: 27px;
    font-size: 20px;
    line-height: 7px;
    letter-spacing: 0.02em;
    color:white;
    height: 43px;
}
.content span{
    color: #4AC6F3;
    margin-left: 1rem;
}
.hero .segitiga{
    width: 0;
    height: 0;
    margin-top: 1rem;
}
.hero .flat-animasion{
    position: absolute;
}

/* end hero */

/* about-us */
.about-us-content{
    height: 188px;
    border-radius: 10px;
    background: linear-gradient(90deg, #F7FDFF 0%, rgba(216, 246, 255, 0.0203218) 53.03%, #F6FDFF 100.48%);
}
.about-us-content .col-xl-8{
    padding: 48px;
}
/* .form-group{
    position: absolute;
    width: 1046px;
    height: 100px;
    left: 252px;
    top: 1087px;
} */
.input-group h3{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.04em;
}
.input-group h5{
    line-height: 25px;
    letter-spacing: 0.07em;
    opacity: 0.8;
}
.input-group h5 a{
    color: #000000;
}

/* end about us */

/* we ofer */

.we-ofer{
    margin-top: 153px;
}
.we-ofer .input-group .m-auto h2{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.04em;
}
.information p{
    font-weight: 500;
    font-size: 12.4px;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: rgba(4,4,4, 0.63);
}

/* end we ofer */

/* portofolio */

.portofolio{
    margin-top: 196px;
}
.portofolio .title h2{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.04em;
}
.view-project{
    margin-top: 69px;
}
.view-project .view-project-title h6{    
    font-size: 14px;
    line-height: 21px;
}
.view-project .view-project-title a{
    color: black;
}
.view-project .project{
    margin-top: 16px;
    background: #DBF8FF;
    border-radius: 2px;
}

/* end portofolio */

/* step wrok */

.step-work{
    margin-top: 162px;
}
.step-work h2{
    font-family: 'Inter', sans-serif;
}
.all-step-work{
    margin-top: 86px;
}
.analayze p{
    height: 71px;
    left: 322px;
    top: 3774px;
    color: rgba(4,4,4, 0.63);

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
}
/* and step work */

/* technologies */

.technologies{
    margin-top: 191px;
}
.technologies .title-technologies h2{
    font-family: 'Roboto', sans-serif;
    line-height: 42px;
    letter-spacing: 0.04em;
    color: #4AC6F3;
}
.technologies .all-technologies{
    margin-top: 64px;
}

/* end technologies */

/* testimonial */
.testimoni h2{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.04em;
}
.testimoni #carouselExampleCaptions{
    margin-top: 86px;
}
/* end testimonial */