    /* EXTRA SMALL */
    
    @media only screen and (max-width: 320px) {
        /* NAVBAR */
        .navbar-brand img {
            width: 3.125rem;
        }
        /* ABOUT PAGE */
        .about {
            margin-top: 12.125rem;
            margin-bottom: 5.813rem;
        }
        .about h2 {
            font-size: 1.625rem;
            margin-bottom: 1.375rem;
        }
        .teams .col-6 {
            padding: 0;
        }
        .teams .row .info {
            visibility: hidden;
        }
        .teams .row img {
            height: 10rem;
        }
        .teams .row .col-6:hover .info {
            visibility: initial;
            transition: 3s;
        }
        .teams .row .malik,
        .teams .row .cipto,
        .teams .row .rainhard {
            margin-bottom: 1.063rem;
        }
        /* PROJECT PAGE */
        .project {
            margin: 0 8%;
        }
        /* Project Heading */
        .project .heading {
            margin-top: 8rem;
            margin-bottom: 4.813rem;
        }
        .project .heading h2 {
            margin-bottom: 0.75rem;
            font-size: 1.625rem;
        }
        .project .heading h3 {
            font-size: 1.125rem;
        }
        /* Project List */
        .project .content {
            margin: 0;
        }
        .project .content .col-sm-12 {
            padding: 0;
        }
        .project .content .bm,
        .project .content .tb {
            margin-bottom: 4.875rem;
        }
        .project .content .empty {
            margin-top: 0;
        }
        .project .content .item {
            padding: 10% 0;
        }
        .project .content .title {
            display: none;
        }
        .project .content h3 {
            margin-bottom: 1.063rem;
        }
        .project .content img {
            height: 10rem;
        }
        /* PROJECT DETAIL PAGE */
        /* Project Display */
        .display-pro {
            margin: 9.625rem 10% 7.063rem;
        }
        .display-pro .big-img {
            margin-bottom: 0;
        }
        .display-pro .sm-img {
            margin-top: 3.375rem;
        }
        .display-pro .sm-img {
            overflow: visible;
            max-height: 100%;
        }
        /* Project Description */
        .desc-pro {
            line-height: 1.688rem;
            margin: 0 5%;
        }
        .desc-pro .px-28 {
            font-size: 1.125rem;
            margin-bottom: 2.063rem;
        }
        .desc-pro .px-24 {
            font-size: 0.875rem;
            line-height: 1.688rem;
        }
        /* Project Modal */
        .modal#Bromind-Story .modal-dialog,
        .modal#Bromind-CU .modal-dialog,
        .modal#Bromind-Cart .modal-dialog {
            max-width: 100%;
        }
        /* FOOTER */
        .footer {
            margin-top: 6.125rem;
        }
        .footer .logo {
            width: 2.5rem;
            margin-top: 5rem;
            margin-bottom: 0.438rem;
        }
        .footer h2 {
            font-size: 1.125rem;
        }
        .footer .sosmed {
            margin: 1.25rem 0 2.813rem 0;
        }
        .footer .sosmed #fb,
        .footer .sosmed #em,
        .footer .sosmed #ig,
        .footer .sosmed #in {
            width: 2.188rem;
            height: 2.188rem;
        }
        .footer .sosmed i {
            font-size: 0.875rem;
            margin-bottom: 0;
        }
        .footer .cr {
            font-size: 0.625rem;
            margin-bottom: 0.438rem;
        }
    }
    
    @media only screen and (min-width: 321px) {
        /* NAVBAR */
        .navbar-brand img {
            width: 3.125rem;
        }
        /* ABOUT PAGE */
        .about {
            margin-top: 12.125rem;
            margin-bottom: 5.813rem;
        }
        .about h2 {
            font-size: 1.625rem;
            margin-bottom: 1.375rem;
        }
        .about p.lg {
            display: none;
        }
        .about p.sm {
            display: block !important;
            font-size: 0.875rem;
        }
        .teams .col-6 {
            padding: 0;
        }
        .teams .row .info {
            visibility: hidden;
        }
        .teams .row img {
            height: 10rem;
        }
        .teams .row .col-6:hover .info {
            visibility: initial;
            transition: 3s;
        }
        .teams .row .malik,
        .teams .row .cipto,
        .teams .row .rainhard {
            margin-bottom: 1.063rem;
        }
        /* PROJECT PAGE */
        .project {
            margin: 0 8%;
        }
        .project .heading {
            margin-top: 8rem;
            margin-bottom: 4.813rem;
        }
        .project .heading h2 {
            margin-bottom: 0.75rem;
            font-size: 1.625rem;
        }
        .project .heading h3 {
            font-size: 1.125rem;
        }
        .project .content {
            margin: 0;
        }
        .project .content .col-sm-12 {
            padding: 0;
        }
        .project .content .bm,
        .project .content .tb {
            margin-bottom: 4.875rem;
        }
        .project .content .empty {
            margin-top: 0;
        }
        .project .content .item {
            padding: 10% 0;
        }
        .project .content .title {
            display: none;
        }
        .project .content h3 {
            margin-bottom: 1.063rem;
        }
        .project .content img {
            height: 12rem;
        }
        /* PROJECT DETAIL PAGE */
        /* Project Display */
        .display-pro {
            margin: 9.625rem 10% 7.063rem;
        }
        .display-pro .big-img {
            margin-bottom: 0;
        }
        .display-pro .sm-img.sm-3 {
            margin: 2.813rem auto 0;
            overflow: visible;
            max-height: 100%;
            max-width: 80%;
        }
        .display-pro .sm-img.sm-1,
        .display-pro .sm-img.sm-2 {
            max-width: 50%;
            margin-top: 3.438rem;
            overflow: hidden;
            max-height: 8rem;
        }
        /* Project Description */
        .desc-pro {
            margin: 0 5%;
        }
        .desc-pro .px-28 {
            font-size: 1.125rem;
            margin-bottom: 2.063rem;
        }
        .desc-pro .px-24 {
            font-size: 0.875rem;
            line-height: 1.688rem;
        }
        /* Project Modal */
        .modal#Bromind-Story .modal-dialog,
        .modal#Bromind-CU .modal-dialog,
        .modal#Bromind-Cart .modal-dialog {
            max-width: 100%;
        }
        /* FOOTER */
        .footer {
            margin-top: 6.125rem;
        }
        .footer .logo {
            width: 2.5rem;
            margin-top: 5rem;
            margin-bottom: 0.438rem;
        }
        .footer h2 {
            font-size: 1.125rem;
        }
        .footer .sosmed {
            margin: 1.25rem 0 2.813rem 0;
        }
        .footer .sosmed #fb,
        .footer .sosmed #em,
        .footer .sosmed #ig,
        .footer .sosmed #in {
            width: 2.188rem;
            height: 2.188rem;
        }
        .footer .sosmed i {
            font-size: 0.875rem;
            margin-bottom: 0;
        }
        .footer .cr {
            font-size: 0.625rem;
            margin-bottom: 0.438rem;
        }
    }
    
    @media only screen and (min-width: 576px) {
        /* PROJECT PAGE */
        .project .content img {
            height: 16rem;
        }
        /* PROJECT DETAILS PAGE */
        .desc-pro {
            margin: 0 6%;
        }
        /* Project Display */
        .display-pro .sm-img.sm-2,
        .display-pro .sm-img.sm-1,
        .display-pro .sm-img.sm-3 {
            margin: 5.625rem 0 0;
            overflow: hidden;
            max-height: 19.446rem;
        }
        /* Project Description */
        .desc-pro .px-28 {
            font-size: 1.25rem;
        }
        .desc-pro .px-24 {
            font-size: 1rem;
        }
        /* Project Modal */
        .modal-dialog {
            max-width: max-content;
        }
        .modal#Bromind-Story .modal-dialog,
        .modal#Bromind-CU .modal-dialog,
        .modal#Bromind-Cart .modal-dialog {
            max-width: max-content;
        }
    }
    /* MEDIUM */
    
    @media only screen and (min-width: 768px) {
        /* PROJECT PAGE */
        .project .content .title {
            display: block;
            font-size: 0.875rem;
        }
        .project .content h3 {
            display: none;
        }
        .project .content .bm,
        .project .content .empty {
            padding-right: 1rem;
        }
        .project .content .tb {
            padding-left: 1rem;
        }
        .project .content img {
            height: 12rem;
        }
        /* PROJECT DETAILS PAGE */
        .desc-pro {
            margin: 0 8%;
        }
        /* Project Description */
        .desc-pro .px-28 {
            font-size: 1.375rem;
        }
        .desc-pro .px-24 {
            font-size: 1.125rem;
            line-height: 2rem;
        }
    }
    
    @media only screen and (max-width: 991px) {
        /* NAVBAR */
        .navbar .container {
            margin: auto;
            max-width: 95%;
        }
        .navbar-light .navbar-toggler {
            border: 0;
        }
        .navbar-toggler i {
            font-size: 1.5rem;
            color: #4AC6F3;
        }
        .navbar-collapse.show .person {
            text-align: center;
        }
        .navbar-collapse.show li {
            margin: 0;
        }
        /* ABOUT PAGE */
        .about p.lg {
            display: none;
        }
        .about p.sm {
            display: block !important;
            font-size: 0.875rem;
        }
        .teams .person {
            display: none;
        }
    }
    /* LARGE */
    
    @media only screen and (min-width: 992px) {
        /* NAVBAR */
        .navbar-brand img {
            width: 3.75rem;
        }
        .navbar .navbar-nav {
            font-size: 1.25rem;
        }
        /* Hover Navbar Effect */
        .navbar-nav .nav-item::after {
            content: '';
            display: block;
            /* width: 0; */
            /* margin: 0 auto; */
            transform: scaleX(0);
            height: 2px;
            background: black;
            transition: transform .3s;
        }
        .navbar-nav .nav-item:hover:after {
            /* width: 50%; */
            /* margin: 0 auto; */
            transform: scaleX(0.5);
            transition: transform .3s;
        }
        .navbar-nav .active::after {
            content: '';
            display: block;
            height: 2px;
            background: black;
            transform: scaleX(0.5);
        }
        /* ABOUT PAGE */
        .about h2 {
            font-size: 1.875rem;
            margin-bottom: 2.5rem;
        }
        .about p.lg {
            display: block;
        }
        .about p.sm {
            display: none !important;
        }
        .teams .row {
            display: none;
        }
        .teams .person img {
            height: 15rem;
        }
        .teams .person .aji {
            margin-left: -5.5rem;
            margin-right: 24.7rem;
        }
        .teams .person .agung {
            margin-right: -14.6rem;
        }
        .teams .person .dimas {
            margin-right: -16.1rem;
        }
        .teams .person .rainhard {
            margin-right: -17.3rem;
        }
        .teams .person .fajar {
            margin-right: 32.4rem;
        }
        /* PROJECT PAGE */
        .project .heading {
            margin-top: 12rem;
            margin-bottom: 5rem;
        }
        .project .heading h3 {
            line-height: 1.688rem;
        }
        .project .content .title {
            font-size: 1rem;
        }
        .project .content img {
            height: 14rem;
        }
        /* PROJECT DETAILS PAGE */
        .display-pro {
            margin: 13.75rem 10% 7.063rem;
        }
        /* Project Display */
        .display-pro .sm-img.sm-1,
        .display-pro .sm-img.sm-2,
        .display-pro .sm-img.sm-3 {
            margin: 6.875rem 0 0;
        }
        /* Project Description */
        .desc-pro .px-28 {
            font-size: 1.5rem;
        }
        .desc-pro .px-24 {
            font-size: 1.25rem;
            line-height: 2.2rem;
        }
        /* FOOTER */
        .footer {
            margin-top: 9.375rem;
        }
        .footer .logo {
            width: 3.75rem;
            margin-top: 5.313rem;
            margin-bottom: 0.625rem;
        }
        .footer h2 {
            font-size: 1.5rem;
        }
        .footer .sosmed {
            margin: 1.563rem 0 3.75rem 0;
        }
        .footer .cr {
            font-size: 0.625rem;
            margin-bottom: 0.875rem;
        }
    }
    
    @media only screen and (min-width: 1024px) {
        /* NAVBAR */
        .navbar-brand img {
            width: 4.375rem;
        }
        .navbar .navbar-nav {
            font-size: 1.375rem;
        }
        /* FOOTER */
        .footer .logo {
            width: 5rem;
            margin-top: 10rem;
            margin-bottom: 0.875rem;
        }
        .footer h2 {
            font-size: 2rem;
        }
        .footer .sosmed #fb,
        .footer .sosmed #em,
        .footer .sosmed #ig,
        .footer .sosmed #in {
            width: 2.375rem;
            height: 2.375rem;
        }
        .footer .sosmed {
            margin: 1.75rem 0 4.688rem 0;
        }
        .footer .sosmed i {
            font-size: 1rem;
            margin-bottom: -0.1rem;
        }
        .footer .cr {
            font-size: 0.75rem;
            margin-bottom: 1rem;
        }
    }
    
    @media only screen and (min-width: 1100px) {
        /* ABOUT PAGE */
        /* .teams {
        margin: 0 9%;
    } */
        .teams .container {
            max-width: 1000px;
        }
        .teams .person .bondan {
            margin-left: -3.8rem;
        }
        .teams .person .agung {
            margin-right: -15.5rem;
        }
        .teams .person .dimas {
            margin-right: -17rem;
        }
        .teams .person .rainhard {
            margin-right: -18.3rem;
        }
        .teams .person .fajar {
            margin-right: 32rem;
        }
        .teams .person img {
            height: 16rem;
        }
        /* FOOTER */
        .footer {
            margin-top: 10rem;
        }
    }
    
    @media only screen and (min-width: 1200px) {
        /* ABOUT PAGE */
        /* .teams {
        margin: 0 10%;
    } */
        .teams .person img {
            height: 16.5rem;
        }
        .teams .person .agung {
            margin-right: -15.6rem;
        }
        .teams .person .dimas {
            margin-right: -17rem;
        }
        .teams .person .rainhard {
            margin-right: -19rem;
        }
        .teams .person .fajar {
            margin-right: 31.3rem;
        }
        /* PROJECT PAGE */
        .project .heading {
            margin-top: 18.75rem;
            margin-bottom: 6.75rem;
        }
        .project .heading h2 {
            font-size: 1.875rem;
        }
        .project .heading h3 {
            font-size: 1.25rem;
        }
        .project .content .bm,
        .project .content .tb {
            margin-bottom: 6rem;
        }
        .project .content .bm,
        .project .content .empty {
            padding-right: 1.5rem;
        }
        .project .content .tb {
            padding-left: 1.5rem;
        }
        .project .content img {
            height: 16rem;
        }
        /* PROJECT DETAILS PAGE */
        .display-pro {
            margin: 17.5rem 15% 7.063rem;
        }
        /* Project Description */
        .desc-pro .px-28 {
            font-size: 1.625rem;
        }
        .desc-pro .px-24 {
            font-size: 1.375rem;
            line-height: 2.4rem;
        }
        /* FOOTER */
        .footer {
            margin-top: 10.625rem;
        }
    }
    
    @media only screen and (min-width: 1300px) {
        /* ABOUT PAGE */
        .about {
            margin-top: 17.375rem;
            margin-bottom: 5.75rem;
        }
        .about h2 {
            font-size: 2.25rem;
            margin-bottom: 3.75rem;
        }
        .teams .container {
            max-width: 1140px;
        }
        .teams .person img {
            height: 17.5rem;
        }
        .teams .person .aji {
            margin-left: -5.5rem;
            margin-right: 28.5rem;
        }
        .teams .person .agung {
            margin-right: -17rem;
        }
        .teams .person .dimas {
            margin-right: -18.8rem;
        }
        .teams .person .rainhard {
            margin-right: -20rem;
        }
        .teams .person .fajar {
            margin-right: 29.4rem;
        }
        /* FOOTER */
        .footer {
            margin-top: 11.25rem;
        }
    }
    /* EXTRA LARGE */
    
    @media only screen and (min-width: 1400px) {
        /* NAVBAR */
        .navbar-brand img {
            width: 5.625rem;
        }
        .navbar .navbar-nav {
            font-size: 1.5rem;
        }
        /* ABOUT PAGE */
        .teams .container {
            max-width: 85%;
        }
        .teams .person img {
            height: 18.125rem;
        }
        .teams .person .aji {
            margin-left: -5.5rem;
            margin-right: 31rem;
        }
        .teams .person .agung {
            margin-right: -18rem;
        }
        .teams .person .dimas {
            margin-right: -19.5rem;
        }
        .teams .person .rainhard {
            margin-right: -21rem;
        }
        .teams .person .fajar {
            margin-right: 28.4rem;
        }
        /* PROJECT PAGE */
        .project .heading h2 {
            font-size: 2.25rem;
        }
        .project .heading h3 {
            font-size: 1.5rem;
        }
        .project .content .bm,
        .project .content .empty {
            padding-right: 2rem;
        }
        .project .content .tb {
            padding-left: 2rem;
        }
        .project .content .title {
            font-size: 1.125rem;
        }
        .project .content img {
            height: 20.188rem;
        }
        /* PROJECT DETAILS PAGE */
        .display-pro {
            margin: 21.063rem 15% 10rem;
        }
        /* Project Display */
        .display-pro .sm-img.sm-1,
        .display-pro .sm-img.sm-2,
        .display-pro .sm-img.sm-3 {
            margin: 8.25rem 0 0;
            max-height: 20rem;
        }
        /* Project Description */
        .desc-pro .px-28 {
            font-size: 1.75rem;
        }
        .desc-pro .px-24 {
            font-size: 1.5rem;
            line-height: 2.688rem;
        }
        /* FOOTER */
        .footer {
            margin-top: 14.813rem;
        }
        .footer .logo {
            width: 5.625rem;
            margin-top: 12.063rem;
        }
        .footer h2 {
            font-size: 2.25rem;
        }
        .footer .sosmed #fb,
        .footer .sosmed #em,
        .footer .sosmed #ig,
        .footer .sosmed #in {
            width: 2.563rem;
            height: 2.563rem;
        }
        .footer .sosmed {
            margin: 1.875rem 0 5.375rem 0;
        }
        .footer .sosmed i {
            font-size: 1.125rem;
            margin-bottom: -0.2rem;
        }
        .footer .cr {
            font-size: 0.813rem;
            margin-bottom: 1.125rem;
        }
    }
    
    @media only screen and (min-width: 1500px) {
        .teams .container {
            max-width: 78%;
        }
    }
    
    @media only screen and (min-width: 1600px) {
        .teams .container {
            max-width: 73%;
        }
    }
    
    @media only screen and (min-width: 1700px) {
        .teams .container {
            max-width: 68%;
        }
    }
    
    @media only screen and (min-width: 1800px) {
        .teams .container {
            max-width: 65%;
        }
    }
    
    @media only screen and (min-width: 1900px) {
        .teams .container {
            max-width: 60%;
        }
    }
    
    @media only screen and (min-width: 2000px) {
        /* ABOUT PAGE */
        .teams .container {
            max-width: 58%;
        }
        /* PROJECT PAGE */
        .project .content img {
            height: 25.188rem;
        }
    }
    
    @media only screen and (min-width: 2200px) {
        .teams .container {
            max-width: 53%;
        }
    }
    
    @media only screen and (min-width: 2400px) {
        .teams .container {
            max-width: 48%;
        }
    }
    
    @media only screen and (min-width: 2560px) {
        .teams .container {
            max-width: 45%;
        }
    }